.head{
  background-color: pink;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;


}
.btn{
  background-color: rgb(17, 6, 222);
   padding: 10px 20px;
   border-radius: 10px;
   border: 1px solid rgb(242, 244, 245);
  color: white;


}
.head1{
  text-decoration:double underline;
}