*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body{

  height: 100%;
  width: 100%;

}
.card{
  background-color: rgb(237, 192, 255);
  border-color: chocolate;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.nav{
  background-color: aliceblue;
  color: rgb(9, 14, 14);
  padding: 20px;
  margin: 50px;
}

.main{
  background-color: #222;
  padding: 10px ;
  width: 300px;
  /* margin: 20px  600px ; */
  border-radius: 20px;
  /* border-color: 1px solid black; */
  border: 5px solid rgb(129, 14, 14);

  color: aliceblue;
  text-align: center;
  /* border-width: 10px; */
  /* flex-direction: center; */

}
.main h1{
  padding: 20px 10px 10px ;
  /* margin: 20px; */
  /* background-color: rgb(28, 10, 10); */
  /* flex-direction: center; */
  align-items: center;

}
.main p{
  padding: 10px 0px ;
  font-size: large;
  font-weight: 400;
}

.main button{
  padding: 10px 10px 10px ;
  align-items: center;
  font-size: medium;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
}

.main img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;

}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}