*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

  font-family: 'Helvetica neue , sans-serif'; 
}
html, body{
  height: 100%;
  width: 100%;
}
button{
  cursor: pointer;
  margin: 10px;
}
input{
  margin: 10px;
  padding: 10px;
}
.box{
  width: 100px;
  height: 100px;
  background-color: yellow;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: lightcoral;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: rgb(21, 3, 3);
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: rgb(205, 191, 191);
}